{block content}
    <div class="container-fluid">
        <div class="col-md-offset-6 col-md-4">
            <div class="h3">Změnit osobní údaje</div>
        </div>
        <div class="col-md-8">
            {control changeCredentials}
        </div>
    </div>

{/block}