{block content}
    <div class="container-fluid">
        <div class="col-md-offset-5 col-md-4">
            <div class="h3">Změnit heslo ošetřovateli: {$login}</div>
        </div>
        <div class="col-md-offset-4 col-md-4">
            {control changePassTo}
        </div>
    </div>

{/block}