{block content}
    <div class="container-fluid">
        <div class="h3" align="center">Změnit osobní údaje</div>
        <div class="col-md-offset-4 col-md-4">
            {control changeCredentials}
        </div>
    </div>

{/block}