{block content}
    <div class="container-fluid">
        <div class="col-md-offset-6 col-md-4">
            <div class="h3">Změnit heslo</div>
        </div>
        <div class="col-md-offset-4 col-md-4">
            {control changePass}
        </div>
    </div>

{/block}