{block content}
    <div class="container-fluid">
        {foreach $data as $one_piece_of_data}
        <div class="row">
                    <div class="col-sm-1">Jmeno: </div>
                    <div class="col-sm-2">{$one_piece_of_data->jmeno}</div>
                    <div class="col-sm-2">Poslední krmení: </div>
                    <div class="col-sm-2">{$one_piece_of_data->datum}</div>
        </div>
        {/foreach}
    </div>
{/block}