{block content}
    <div class="container-fluid">
        <div class="h3" align="center">Upravit ošetřovatele</div>
        <div class="col-md-offset-4 col-md-4">
            {control updateKeeper}
        </div>
    </div>
{/block}