{block content}
<div class="container">
    <div class="col-md-offset-4 col-md-4">
        <div class="h2" align="center">
            <strong>Naplánovat krmení</strong>
        </div>
        {control addFeed}
    </div>
</div>
{/block}