{block content}

<div class="container-fluid">

    <div class="h3" align="center">Přidat zvíře</div>

    <div class="col-md-offset-4 col-md-4">
        {control addAnimal}
    </div>
</div>
{/block}