{block content}
    <div class="container-fluid">

        <div class="h3" align="center">Úmrtí zvířete</div>

        <div class="col-md-offset-4 col-md-4">
            {control deadAnimal}

        </div>
    </div>

{/block}