{block content}
    <div class="container-fluid">
        <div class="h3" align="center">Upravit zvíře</div>
        <div class="col-md-offset-4 col-md-4">
            {control updateAnimal}
        </div>
    </div>
{/block}