{block content}
<div class="container-fluid">
    <div class="h3" align="center">Upravit typ výběhu</div>
    <div class="col-md-offset-4 col-md-4">
        {control updateCoopKind}
    </div>
</div>
{/block}