{block content}
<div class="container-fluid">
    <div class="h3" align="center">Přidat školení</div>
    <div class="col-md-offset-4 col-md-4">
        {control addSkoleni}
    </div>
</div>
{/block}
