{block content}
    <div class="container-fluid">
        <div class="h3" align="center">Odebrat školení ošetřovateli</div>
        <div class="col-md-offset-4 col-md-4">
            {control removeTrainingToKeeper}
        </div>
    </div>
{/block}
