{block content}
<div class="container-fluid">
    <div class="h3" align="center">Upravit školení</div>
    <div class="col-md-offset-4 col-md-6">
        {control updateTraining}
    </div>
</div>
{/block}